<nav>
    <ul>
        <li><a href="/">Svi oglasi</a></li>
        <li><a href="/dodaj-oglas">Dodaj Oglas</a></li>
        <li>
            <div class="search-form">
                <form action="/" method="GET">
                    <label for="search">Pretrazi po kategoriji</label>
                    <input type="text" name="kategorija" placeholder="" id="search"/>
                </form> 
            </div>
        </li>
    </ul>
</nav>